<div class="form-group">
	<label for="colors" class="col-xs-8 control-label">{{label}}</label>
	<div class="col-xs-4">
		<select id="colors" class="form-control" #c (change)="colorsChange(c.value)">
			<option *ngFor="let color of colors"
					  [value]="color.value"
					  [selected]="color.value === defaultColor">{{color.label}}
			</option>
		</select>
	</div>
</div>
