<table class="table table-hover result-table">
	<thead>
	<tr>
		<th class="first">Стоимость</th>
		<th>Тираж</th>
		<th>Этикетка</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th>Итого</th>
		<td><span class="value">{{calculator.TotalCost}}</span> <span class="currency">руб</span></td>
		<td><span class="value">{{calculator.StickerCost}}</span> <span class="currency">руб</span></td>
	</tr>
	<tr>
		<th colspan="1">Срок изготовления</th>
		<td colspan="2">10-12 рабочих дней</td>
	</tr>
	</tbody>
</table>
