<div class="form-group">
	<label for="knife" class="col-sm-4 control-label">{{label}}</label>
	<div class="col-sm-8" *ngIf="knifes?.length > 0">
		<select id="knife" class="form-control" #k (change)="knifeChange(k.value)">
			<option *ngFor="let knife of knifes"
					  [value]="knife._id">{{knife.length}} x {{knife.width}}
			</option>
		</select>
	</div>
</div>
