<div class="row wrapper">
	<div class="col-xs-12">
		<form class="form-horizontal" #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)">

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group"
						  [ngClass]="{'has-error': (customer.errors && (customer.dirty || customer.touched))}">
						<label for="customer" class="col-sm-4 control-label required">{{labels.customer.label}}</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="customer" name="customer" ngModel #customer="ngModel"
									 required
									 placeholder="{{labels.customer.placeholder}}" minlength="2"
									 aria-describedby="customerHelpBlock">
							<div *ngIf="customer.errors && (customer.dirty || customer.touched)"
								  id="customerHelpBlock"
								  class="help-block text-danger">
				<span [hidden]="!customer.errors.required">
					Требуется ввести имя
				</span>
								<span [hidden]="!customer.errors.minlength">
					Имя не может быть короче 2 символов
				</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group" [ngClass]="{'has-error': (phone.errors && (phone.dirty || phone.touched))}">
						<label for="phone" class="col-sm-4 control-label required">{{labels.phone.label}}</label>
						<div class="col-sm-8">
							<input type="tel" class="form-control" id="phone" name="phone" ngModel #phone="ngModel" required
									 placeholder="{{labels.phone.placeholder}}" minlength="9" aria-describedby="phoneHelpBlock">
							<div *ngIf="phone.errors && (phone.dirty || phone.touched)"
								  id="phoneHelpBlock"
								  class="help-block text-danger">
				<span [hidden]="!phone.errors.required">
					Требуется ввести телефон
				</span>
								<span [hidden]="!phone.errors.minlength">
					Телефон не может быть короче 9 символов
				</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group" [ngClass]="{'has-error': (email.errors && (email.dirty || email.touched))}">
						<label for="email" class="col-sm-4 control-label required">{{labels.email.label}}</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" id="email" name="email" ngModel #email="ngModel" required
									 placeholder="{{labels.email.placeholder}}" aria-describedby="emailHelpBlock">
							<div *ngIf="email.errors && (email.dirty || email.touched)"
								  id="emailHelpBlock"
								  class="help-block text-danger">
				<span [hidden]="!email.errors.required">
					Требуется ввести E-Mail
				</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="requisites" class="col-sm-4 control-label">{{labels.requisites.label}}</label>
						<div class="col-sm-8">
			<textarea class="form-control" id="requisites" name="requisites" ngModel
						 placeholder="{{labels.requisites.placeholder}}"></textarea>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="layout" class="col-sm-4 control-label">{{labels.layout.label}}</label>
						<div class="col-sm-8">
							<input type="file" class="form-control" id="layout" name="layout" ngModel
									 accept=".pdf,.jpg,.jpeg,.tiff,.psd,.eps,.ai,.cdr"
									 (change)="fileChange($event)"
									 placeholder="{{labels.layout.placeholder}}">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group"
						  [ngClass]="{'has-error': (payments.errors && (payments.dirty || payments.touched))}">
						<label for="payments" class="col-sm-4 control-label required">{{labels.payments.label}}</label>
						<div class="col-sm-8">
							<select id="payments" name="payments" ngModel #payments="ngModel" class="form-control" required
									  aria-describedby="paymentsHelpBlock">
								<option *ngIf="payments.untouched || payments.invalid" value="" disabled selected>Выберите способ оплаты</option>
								<optgroup *ngFor="let methodGroup of paymentsMethods" label="{{methodGroup.customerType}}">
									<option *ngFor="let method of methodGroup.methods" [value]="method.value">{{method.label}}
									</option>
								</optgroup>
							</select>
							<div *ngIf="payments.errors && (payments.dirty || payments.touched)"
								  id="paymentsHelpBlock"
								  class="help-block text-danger">
				<span [hidden]="!payments.errors.required">
					Требуется указать способ оплаты
				</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group"
						  [ngClass]="{'has-error': (delivery.errors && (delivery.dirty || delivery.touched))}">
						<label for="delivery" class="col-sm-4 control-label required">{{labels.delivery.label}}</label>
						<div class="col-sm-8">
							<select id="delivery" name="delivery" ngModel #delivery="ngModel" class="form-control" required
									  aria-describedby="deliveryHelpBlock">
								<option *ngIf="delivery.untouched || delivery.invalid" value="" disabled selected>Выберите способ доставки</option>
								<option *ngFor="let method of deliveryMethods" [value]="method.value"
										  [selected]="method.selected"
										  [disabled]="method.disabled">{{method.label}}
								</option>
							</select>
							<div *ngIf="delivery.errors && (delivery.dirty || delivery.touched)"
								  id="deliveryHelpBlock"
								  class="help-block text-danger">
				<span [hidden]="!delivery.errors.required">
					Требуется указать способ доставки
				</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<div class="col-xs-12">
							<p><span class="asterisk">*</span> Поля, отмеченные звездочкой, обязательны для заполнения</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<div class="col-xs-12 text-right">
							<button type="submit" [disabled]="!orderForm.form.valid" class="btn btn-primary">Отправить</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
