.row {
	clear: both;
	height: 42px;
}

label {
	&.required {
		&::after {
			content: "*";
			color: red;
			font-weight: bold;
			padding-left: 5px;
			font-size: 14px;
			line-height: 17px;
		}
	}
}

.asterisk {
	color: red;
	font-weight: bold;
	padding-left: 5px;
	font-size: 14px;
	line-height: 17px;
}

form {
	&.form-horizontal {
		& > .form-group {
			&:last-child {
				border-top: 1px solid #ddd;
				padding-top: 15px;
			}
		}
	}
}
