<div class="form-group">
	<label for="pantones" class="col-xs-8 control-label">{{label}}</label>
	<div class="col-xs-4">
		<select id="pantones" #p class="form-control" (change)="pantoneChange(p.value)">
			<option *ngFor="let pantone of pantones"
					  [selected]="pantone.value === defaultPantone"
					  [value]="pantone.value">{{pantone.label}}
			</option>
		</select>
	</div>
</div>
