<div class="form-group">
	<label for="materials" class="col-sm-4 control-label">{{label}}</label>
	<div class="col-sm-8">
		<select id="materials" class="form-control" #m (change)="materialsChange(m.value)">
			<option *ngFor="let material of materials"
					  [value]="material._id"
					  [selected]="material.value === defaultMaterial">{{material.title}}
			</option>
		</select>
	</div>
</div>
