<div class="row wrapper">
	<div class="col-xs-12">
		<form class="form-horizontal">
			<div class="row">
				<div class="col-xs-12">
					<app-shapes (selectedShape)="handleChangeShape($event)">Shapes</app-shapes>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<app-knifes [selectedShape]="order.shape" (selectedKnife)="handleChangeKnife($event)">Knifes</app-knifes>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<app-materials (selectedMaterial)="handleChangeMaterial($event)">Materials</app-materials>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<app-polishes (selectedPolish)="handleChangePolish($event)">Polishes</app-polishes>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<app-colors [baseColor]="order.colors" (selectedColor)="handleChangeColor($event)">Colors</app-colors>
				</div>
				<div class="col-xs-6">
					<app-pantones [baseColor]="order.colors" (selectedPantone)="handleChangePantone($event)">Pantones
					</app-pantones>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<app-quantities (selectedQuantity)="handleChangeQuantity($event)">Quantity</app-quantities>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<app-kinds (selectedKind)="handleChangeKind($event)">Kinds</app-kinds>
				</div>
			</div>
		</form>
	</div>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<app-result
					[shape]="order.shape"
					[knife]="order.knife"
					[colors]="order.colors"
					[pantones]="order.pantones"
					[polish]="order.polish"
					[material]="order.material"
					[kinds]="order.kinds"
					[quantity]="order.quantity"
					[orderData]="order"
					(calculatorData)="handleChangeCalculatorResult($event)"></app-result>
			</div>
		</div>
	</div>
	<div class="col-xs-12 text-right">
		<button (click)="goOrder()" class="btn btn-primary">Оформить заказ</button>
	</div>
</div>
