<div class="form-group">
	<label for="shape" class="col-sm-4 control-label">{{label}}</label>
	<div class="col-sm-8">
		<select id="shape" class="form-control" #s (change)="shapesChange(s.value)">
			<option *ngFor="let shape of shapes"
					  [value]="shape._id"
					  [selected]="defaultShape === shape._id"
			>{{shape.title}}
			</option>
		</select>
	</div>
</div>
