<div class="form-group">
	<label for="kind" class="col-sm-4 control-label">{{label}}</label>
	<div class="col-sm-8">
		<select id="kind" class="form-control" #k (change)="kindsChange(k.value)">
			<option *ngFor="let kind of kinds"
					  [value]="kind.value"
					  [selected]="kind.value === defaultKind">{{kind.label}}</option>
		</select>
	</div>
</div>
