<div class="form-group">
	<label for="polishes" class="col-sm-4 control-label">{{label}}</label>
	<div class="col-sm-8">
		<select id="polishes" class="form-control" #p (change)="polishesChange(p.value)">
			<option *ngFor="let polish of polishes"
					  [value]="polish._id"
					  [selected]="polish._id === defaultPolish">{{polish.label}}
			</option>
		</select>
	</div>
</div>
