app-root {
	width: 505px !important;
	display: inline-block;
	margin: 0 auto 25px;
	font-size: 12px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #333;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-control {
	font-size: 12px !important;
}

.form-control {
	border-color: #d0d9e7 !important;
	border-radius: 2px !important;
	min-height: 30px !important;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

.wrapper {
	margin-left: -5px !important;
	margin-right: -5px !important;
}

.form-group {
	margin-bottom: 5px !important;
}

.expl-item {
	display: inline-block;
	width: 50%;
}
