<div class="form-group">
	<label for="quantities" class="col-sm-4 control-label">{{label}}</label>
	<div class="col-sm-8">
		<select id="quantities" class="form-control" #q (change)="quantityChange(q.value)">
			<option *ngFor="let quantity of quantities"
					  [value]="quantity.value"
					  [selected]="quantity.value === defaultQuantity">{{quantity.label}} шт.
			</option>
		</select>
	</div>
</div>
